@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;500;700&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #111;
}

li, a{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}

.background-video{
    opacity: 40%;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Garante que o vídeo preencha a tela */
    transform: translate(-50%, -50%); /* Centraliza o vídeo na tela */
    z-index: -1; /* Envia o vídeo para o fundo */
}

header{
    margin: auto;
    display: flex;
    align-items: center;
    padding: 20px 0%;
    box-shadow: 0px 0px 20px;
    background-color: #111;
}

.img-nav{
    justify-content: space-between;
    width: auto;
    align-items: center;
}
.nav-link li{
    padding: 0px 30px;
    font-family: 'Poppins', medium;
}
.nav-link{
    display: flex;
    color: #111;
    list-style: none;
    align-items: center;
    position: absolute;
    transform: translate(-940px, -33px);
}

.botao-nav{
    font-weight: bold;
    font-size: 25px;
    background-color: blue;
    border-radius: 10px;
    border: none;
    position: absolute;
    transform: translate(1178px, 0px)

}

.botao a{
    color: whitesmoke;
    font-weight: bold;
}

.conteudo-principal {
    position: absolute;
    top: 35%; /* Ajusta a posição vertical */
    left: 15%; /* Ajusta a posição horizontal (mais à esquerda) */
    text-align: left; /* Alinha o texto à esquerda */
    color: white;
    font-family: 'Poppins', sans-serif;
}

/* Texto "Explore os Exoplanetas" */
.texto-1 {
    margin: 0px;
    font-size: 45px;
    font-weight: 400;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    text-shadow: #111;
}

/* Botão "INICIAR A JORNADA" */
.botao-iniciar {
    font-size: 40px; /* Aumenta o tamanho da fonte */
    font-weight: 700;
    background-color: blue;
    color: white;
    padding: 20px 50px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-shadow: #111;
}

.botao-iniciar:hover {
    background-color: darkblue; /* Muda a cor do botão ao passar o mouse */
}

/* Texto "Descubra mundos além da nossa imaginação..." */
.texto-3 {
    font-size: 20px; /* Define o tamanho menor */
    font-weight: 400;
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 0px 2px 2px #111;
}